<?php
// Roundcube configuration.
//
// See:
//  - `/var/lib/roundcube/config/defaults.inc.php`
//  - `/usr/share/doc/roundcube-core/config.inc.php.sample`
//
// History:
//  - Originally written for roundcube debver 1.4.13+dfsg.1-1~deb11u1.
//  - Revised for debver 1.6.1+dfsg-1.
//    - Consulted:
//      - /usr/share/doc/roundcube/NEWS.Debian.gz
//      - /usr/share/doc/roundcube/changelog.Debian.gz
//      - changes to the default and example configuration files (see above)
//
// Notes:
//  * Settings mostly in order of appearance in `defaults.inc.php`.
//  * This does not include all, but many settings.


$config = [];



// ------------
// SQL DATABASE
// ------------

$config['db_dsnw'] = "pgsql://{{ database_user }}:{{ database_password }}@{{ database_server_address }}:{{ database_server_port }}/{{ database_name_webmail }}";



// -----------------
// LOGGING/DEBUGGING
// -----------------

$config['log_driver'] = 'syslog';
$config['syslog_id'] = 'roundcube'; // Default.

$config['smtp_log'] = true;         // Default.
$config['log_logins'] = true;

// Relate Roundcube session to IMAP session.
$config['imap_log_session'] = true;

// Debugging.  Defaults.
$config['session_debug'] = false;
$config['sql_debug'] = false;
$config['imap_debug'] = false;
$config['smtp_debug'] = false;



// ----
// IMAP
// ----

$config['imap_host'] = 'tls://localhost:143';
$config['imap_auth_type'] = 'PLAIN';

// Specific to Dovecot and its configuration.
$config['imap_delimiter'] = '.';
$config['imap_vendor'] = 'dovecot';
$config['imap_dual_use_folders'] = true;

// CONSIDER: IMAP cache.
//  - also: imap_cache_*
//$config['imap_cache'] = 'db';

// CONSIDER: Messages cache.
//  - also: messages_cache_*
//  - Requires QRESYNC and CONDSTORE extensions enabled at Dovecot.
//$config['messages_cache'] = 'db';



// ----
// SMTP
// ----

$config['smtp_host'] = 'tls://localhost:587';
$config['smtp_user'] = '%u';  // Default.
$config['smtp_pass'] = '%p';  // Default.
$config['smtp_auth_type'] = 'PLAIN';
$config['smtp_helo_host'] = '{{ webmail_domain }}';



// ------------
// TLS settings
// ------------

// See <https://www.php.net/manual/en/context.ssl.php>.

$default_tls_options = [
  'verify_peer' => true,
  'verify_peer_name' => true,
  'allow_self_signed' => false,
  'capath' => '/etc/ssl/certs',

  // Ciphers for TLS <= 1.2.
  //  - Implicitly require TLSv1.2 here.
  //    - We apparently cannot restrict to TLSv1.3.
  //  - See Dovecot's `tls.conf#ssl_cipher_list`.
  //  - We could restrict this to a single cipher.
  'ciphers' => 'TLSv1.2+HIGH+ECDHE+aRSA+CHACHA20:HIGH+ECDHE+aRSA+AESGCM:@STRENGTH',

  'disable_compression' => true,  // See Dovecot's `tls.conf#ssl_options`.

  // "Security level"
  //  - See <https://www.openssl.org/docs/man1.1.1/man3/SSL_CTX_get_security_level.html>.
  //  - level 2 means >= 112 bits of security, >= 2048 bit RSA keys.
  //  - We cannot go to a higher level or else the certificate verification
  //    fails.
  'security_level' => 2,
];


$config['imap_conn_options'] = [
  'ssl' => array_replace($default_tls_options, [
    'peer_name' => '{{ mail_dovecot_hostname }}',
  ]),
];

$config['smtp_conn_options'] = [
  'ssl' => array_replace($default_tls_options, [
    'peer_name' => '{{ mail_postfix_myhostname }}',
  ]),
];



// ------
// SYSTEM
// ------

$config['enable_installer'] = false;  // Default.

// CONSIDER:
//$config['advanced_prefs']

$config['support_url'] = '{{ web_app_mail_support_url }}';

// TODO:
//$config['skin_logo']

$config['auto_create_user'] = true;   // Default.
$config['user_aliases'] = false;      // Default.

// Nginx already takes care of this.
$config['force_https'] = false;       // Default.

// This would need to be set to `true` if we were behind a proxy that hid the
// connection being via HTTPS.
$config['use_https'] = false;         // Default.

// Allow browser-autocompletion.
$config['login_autocomplete'] = 2;

// Convert login names to lower case.  Default.
$config['login_lc'] = 2;

$config['login_rate_limit'] = 3;      // Default.

// Only show "product" name, not software version.  Default.
$config['display_product_info'] = 1;

$config['trusted_host_patterns'] =
  ['^{{ webmail_domain | regex_replace("\.", "\\.") }}$'];

// Nginx already takes care of this.
$config['x_frame_options'] = false;

// $config['des_key'].
//  - Separated into a distinct file for technical reasons.
include_once('{{ web_app_mail_keyconfig_path }}');

// See also Dovecot's TLS settings.
$config['cipher_method'] = 'chacha20-poly1305';

// Limit automated abuse.
$config['sendmail_delay'] = 3;

$config['max_message_size'] = '{{ mail_postfix_message_size_limit }}';

// CONSIDER:
//$config['max_recipients'] = 0;
//$config['max_group_members'] = $config['max_recipients'];

// This is a soft limit; keep at default.
//$config['max_disclosed_recipients'] = 5;

$config['product_name'] = '{{ web_app_mail_product_name }}';

// Default: not set.
$config['useragent'] = 'Roundcube Webmail';

// This is relevant to privacy.  Default.
$config['http_received_header'] = false;

$config['line_length'] = 72;            // Default.
$config['send_format_flowed'] = true;   // Default.

// Allow full managing of identities.  Default.
$config['identities_level'] = 0;

// CONSIDER:
//$config['client_mimetypes']

$config['mime_types'] = '/etc/nginx/mime.types';

// Check whether a domain in an e-mail address exists in the DNS.
//  - Otherwise, Postfix should reject sending.
$config['email_dns_check'] = true;

// CONSIDER:
//  - Note that a CSRF token is used regardless.
//  - Requires matching nginx configuration.
//$config['use_secure_urls']



// -------
// PLUGINS
// -------

$config['plugins'] = [
  'dovecot_impersonate',
  'dovecot_impersonate_smtp',
  'login_page_extra_links',
];



// --------------
// USER INTERFACE
// --------------

$config['message_sort_col'] = 'date';
$config['message_sort_order'] = 'DESC';   // Default.

// CONSIDER:
//$config['list_cols']

// CONSIDER:
//$config['language']

// Date and time formats.  Kept at defaults.
$config['date_format'] = 'Y-m-d';
//$config['date_formats']
$config['time_format'] = 'H:i';
//$config['time_formats']
$config['date_short'] = 'D H:i';
$config['date_long'] = 'Y-m-d H:i';

// Special folders.
//  - Defaults.
//  - To be kept in sync with Dovecot's configuration.
//    - `/ansible/roles/mail/dovecot/templates/dovecot/mailboxes.conf.j2`
$config['drafts_mbox'] = 'Drafts';
$config['junk_mbox'] = 'Junk';
$config['sent_mbox'] = 'Sent';
$config['trash_mbox'] = 'Trash';

// Dovecot does that.
$config['create_default_folders'] = false;  // Default.

$config['protect_default_folders'] = true;  // Default.
$config['show_real_foldernames'] = false;   // Default.
$config['enable_spellcheck'] = true;

// This is relevant to privacy (do not set to 'shared').
$config['spellcheck_dictionary'] = true;

// This requires php-pspell and aspell-<LANG> packages to be installed.
// TODO: New default is enchant.
$config['spellcheck_engine'] = 'pspell';

// CONSIDER:
//$config['keyservers']
//$config['mailvelope_main_keyring']
//$config['mailvelope_keysize']        - default 4096

$config['html2text_links'] = 1;             // Default.
$config['html2text_width'] = 72;



// --------------------
// ADDRESSBOOK SETTINGS
// --------------------

// Defaults.
$config['address_book_type'] = 'sql';
$config['autocomplete_addressbooks'] = ['sql'];
$config['autocomplete_min_length'] = 1;

$config['autocomplete_max'] = 16;

// Default.
$config['autocomplete_single'] = false;

// Adjust to German standard.
$config['address_template'] = '{street}<br/>{zipcode} {locality}<br/>{region}<br/>{country}';

// Defaults.
$config['addressbook_search_mode'] = 0;
$config['contactlist_fields'] = ['name', 'firstname', 'surname', 'email'];
$config['contact_search_name'] = '{name} <{email}>';
$config['contact_form_mode'] = 'private';
$config['collected_recipients'] = true;
$config['collected_senders'] = true;



// ----------------
// USER PREFERENCES
// ----------------

$config['skin'] = 'elastic';  // Default.

// Restrict skins (disallow 'classic').
//  - Legal reason:
//    - We put some legal links (legal notice, privacy notice, code) within the
//      about section.
//    - The 'classic' skin requires two clicks to reach the about section.
//      - This is unlike the two here-allowed skins (one click).
//    - At least the legal notice and privacy notice must be reachable in two
//      clicks.
//  - See also `roles/web/app/mail/tasks/main.yaml#about.html.j2`.
$config['skins_allowed'] = [
  'elastic',
  'larry',
];

// Defaults.
$config['addressbook_sort_col'] = 'surname';
$config['addressbook_name_listing'] = 0;
$config['timezone'] = 'auto';

// Display HTML version of message by default, if any.  Default.
//  - It is always possible to switch between the HTML and plain text version
//    of a message (that has both).
//  - This is debatable.  (CONSIDER: Change.)
//  - There are security/privacy risks associated with HTML e-mail.
//    - Roundcube has some protections against these.
//      - E.g., it blocks embedded images, but offers to show them.
//  - Our users likely expect to see HTML e-mail directly.
//  - See also $config['htmleditor'].
//  - See also Content-Security-Policy in
//    `/ansible/roles/web/app/mail/templates/nginx-roundcube.server.conf.j2`.
$config['prefer_html'] = true;

// Notes:
//  - Default.
//  - Relevant to security/privacy.
//  - See also Content-Security-Policy in
//    `/ansible/roles/web/app/mail/templates/nginx-roundcube.server.conf.j2`.
$config['show_images'] = 0;

// Defaults.
$config['message_extwin'] = false;
$config['compose_extwin'] = false;

// Always use HTML editor by default.
//  - Notable alternative: '3'
//    - Use HTML editor by default iff forwarding or replying to an HTML
//      message.
//    - A more strict setting would likely cause people to complain about
//      broken formatting.
//  - Reasoning: People expect all the fancy formatting they are likely used
//    to to just work.
//  - This is debatable.
//  - See also $config['prefer_html'].
//  - See also Content-Security-Policy in
//    `/ansible/roles/web/app/mail/templates/nginx-roundcube.server.conf.j2`.
$config['htmleditor'] = 1;

// Defaults.
$config['compose_save_localstorage'] = true;
$config['prettydate'] = true;
$config['draft_autosave'] = 300;
$config['mail_read_time'] = 0;
$config['logout_purge'] = false;
$config['logout_expunge'] = false;
$config['inline_images'] = true;
$config['refresh_interval'] = 60;

$config['check_all_folders'] = true;

// Defaults.
$config['display_next'] = true;
$config['default_list_mode'] = 'list';
$config['autoexpand_threads'] = 0;
$config['reply_mode'] = 0;
$config['strip_existing_sig'] = true;
$config['show_sig'] = 1;

$config['sig_below'] = true;

// Default.
$config['sig_separator'] = true;

$config['search_mods'] = [
  '*' => [
    'subject' => 1,
    'from' => 1,
  ],
  $config['sent_mbox'] => [
    'subject' => 1,
    'to' => 1,
  ],
];

$config['addressbook_search_mods'] =
  ['name'=>1, 'firstname'=>1, 'surname'=>1, 'email'=>1, '*'=>1];

// Defaults.
$config['delete_junk'] = false;
$config['mdn_requests'] = 0;  // Relevant to privacy.
$config['mdn_default'] = 0;
$config['dsn_default'] = 0;
$config['reply_same_folder'] = false;

$config['forward_attachment'] = true;

// Default.
$config['spellcheck_before_send'] = false;

// CONSIDER (defaults shown):
//$config['default_font'] = 'Verdana';
//$config['default_font_size'] = '10pt';

$config['message_show_email'] = true;

// Default.
$config['reply_all_mode'] = 0;
