# Authentication

# See 
#  - <https://doc.dovecot.org/configuration_manual/authentication/>
#    - <https://doc.dovecot.org/configuration_manual/authentication/auth_settings/>
#    - <https://doc.dovecot.org/configuration_manual/authentication/sql/#postgresql>
#  - `/etc/dovecot/conf.d/10-auth.conf`
#  - `/etc/dovecot/conf.d/auth-sql.conf.ext`
#  - <https://doc.dovecot.org/settings/core/>

# See also
#  - `./services.conf`


# Default.
#  - See <https://doc.dovecot.org/configuration_manual/common_configuration/>.
#  - See also `./services.conf`.
auth_socket_path = auth-userdb


# Disable policy checking.
#  - See <https://doc.dovecot.org/configuration_manual/authentication/auth_policy>.
auth_policy_check_before_auth = no
auth_policy_check_after_auth = no


# Disable plaintext auth unless TLS is used.
#  - This setting has no effect; we have ssl=required.
disable_plaintext_auth = yes

# See
#  - <https://doc.dovecot.org/configuration_manual/authentication/authentication_mechanisms/>
auth_mechanisms = plain

auth_ssl_require_client_cert = no


# Default minus upper case characters.
auth_username_chars = abcdefghijklmnopqrstuvwxyz01234567890.-_@

# Use lowercase username (default).
#  - We enforce lower case above, so this is ineffective.
auth_username_format = %Lu


# The separator to be allowed for alternative login to our "group accounts".
#  - This should not be contained in $auth_username_chars.
#  - `*` is what the Dovecot documentation suggests.
auth_master_user_separator = *


# Authentication for group accounts (using "master users").
#  - For a group account group@gdomain, allow login as user@udomain, iff this
#    user belongs to that group.
#  - Login is possible using
#    a) authorization ID `group@gdomain` and authentication ID `user@udomain`,
#    b) authorization ID and authentication ID `group@gdomain*user@udomain`, or
#       - Most mail clients do not differentiate between authorization ID and
#         authentication ID, so should use this.
#    c) authorization ID `group@gdomain` and authentication ID
#       `group@gdomain*user@udomain`.
#       - This seems to be undocumented, and may cease to work in the future.
#    - The password is always that of the user account.
#  - See
#    - <https://doc.dovecot.org/configuration_manual/authentication/master_users/>
#    - <https://doc.dovecot.org/configuration_manual/authentication/password_databases_passdb/>
passdb {
  driver = sql
  args = {{ mail_dovecot_sqlconf_groupauth_path }}
  master = yes

  # The documentation on "master users" suggests the following to check that
  # the user authorized as actually exists.
  #  - We do not need this due to already checking the existance (and more) in
  #    the SQL query for the "master user".
  #result_success = continue
}


# Authentication for ordinary user accounts.
#  - See
#    - <https://doc.dovecot.org/configuration_manual/authentication/sql/#dovecot-configuration>
#    - <https://doc.dovecot.org/configuration_manual/authentication/password_databases_passdb/>
passdb {
  driver = sql
  args = {{ mail_dovecot_sqlconf_common_path }}
}


# See
#  - <https://doc.dovecot.org/configuration_manual/authentication/user_databases_userdb/>
userdb {
  driver = sql
  args = {{ mail_dovecot_sqlconf_common_path }}
}
