# Authentication

# See 
#  - <https://doc.dovecot.org/configuration_manual/authentication/>
#    - <https://doc.dovecot.org/configuration_manual/authentication/auth_settings/>
#    - <https://doc.dovecot.org/configuration_manual/authentication/sql/#postgresql>
#  - `/etc/dovecot/conf.d/10-auth.conf`
#  - `/etc/dovecot/conf.d/auth-sql.conf.ext`
#  - <https://doc.dovecot.org/settings/core/>

# See also
#  - `./services.conf`


# Default.
#  - See <https://doc.dovecot.org/configuration_manual/common_configuration/>.
#  - See also `./services.conf`.
auth_socket_path = auth-userdb


# Disable policy checking.
#  - See <https://doc.dovecot.org/configuration_manual/authentication/auth_policy>.
auth_policy_check_before_auth = no
auth_policy_check_after_auth = no


# Disable plaintext auth unless TLS is used.
#  - This setting has no effect; we have ssl=required.
disable_plaintext_auth = yes

# See
#  - <https://doc.dovecot.org/configuration_manual/authentication/authentication_mechanisms/>
auth_mechanisms = plain

auth_ssl_require_client_cert = no


# Default minus upper case characters.
auth_username_chars = abcdefghijklmnopqrstuvwxyz01234567890.-_@

# Use lowercase username (default).
#  - We enforce lower case above, so this is ineffective.
auth_username_format = %Lu


# The separator to be allowed for alternative login to our "group accounts".
#  - This should not be contained in $auth_username_chars.
#  - `*` is what the Dovecot documentation suggests.
auth_master_user_separator = *


# Authentication for group accounts (using "master users").
#  - For a group account group@gdomain, allow login as user@udomain, iff this
#    user belongs to that group.
#  - Login is possible using
#    a) authorization ID `group@gdomain` and authentication ID `user@udomain`,
#    b) authorization ID and authentication ID `group@gdomain*user@udomain`, or
#       - Most mail clients do not differentiate between authorization ID and
#         authentication ID, so should use this.
#    c) authorization ID `group@gdomain` and authentication ID
#       `group@gdomain*user@udomain`.
#       - This seems to be undocumented, and may cease to work in the future.
#    - The password is always that of the user account.
#  - The documentation on "master users" suggests `result_success = continue`
#    for "master" passdbs, to check that the user authorized as actually
#    exists.
#    - We do not need this due to already checking the existance (and more) in
#      the SQL queries for the "master user".
#  - See
#    - <https://doc.dovecot.org/configuration_manual/authentication/master_users/>
#    - <https://doc.dovecot.org/configuration_manual/authentication/password_databases_passdb/>

# Special (static) admin group account.
#  - This comes deliberately before the group accounts, to take precedence
#    in case of hypothetical overlaps.
#    - Such overlaps should, however, not be possible.
passdb {
  driver = sql
  args = {{ mail_dovecot_conf_aux_dir }}/sql-adminauth.conf.ext
  master = yes
}

# Regular group accounts.
passdb {
  driver = sql
  args = {{ mail_dovecot_conf_aux_dir }}/sql-groupauth.conf.ext
  master = yes
}


# Authentication for ordinary user accounts.
#  - See
#    - <https://doc.dovecot.org/configuration_manual/authentication/sql/#dovecot-configuration>
#    - <https://doc.dovecot.org/configuration_manual/authentication/password_databases_passdb/>
passdb {
  driver = sql
  args = {{ mail_dovecot_conf_aux_dir }}/sql-common.conf.ext
}


# Home lookup for static users.
#  - This comes deliberately before the lookup for dynamic users.
#    - There should be no ovelap possible, however.
#      - The static and dynamic domains already do not overlap.
#  - The `auth` service needs read access to this.
#    - See `./services.conf`.
#    - See also `/ansible/roles/mail/dovecot/tasks/dovecot-config.yaml`.
#  - See
#    - <https://doc.dovecot.org/configuration_manual/authentication/user_databases_userdb/>
#    - <https://doc.dovecot.org/configuration_manual/authentication/passwd_file/>
userdb {
  driver = passwd-file
  args = {{ mail_dovecot_conf_aux_dir }}/static-users.passwd
}


# Home lookup for dynamic users.
#  - See
#    - <https://doc.dovecot.org/configuration_manual/authentication/user_databases_userdb/>
userdb {
  driver = sql
  args = {{ mail_dovecot_conf_aux_dir }}/sql-common.conf.ext
}
