# IMAP

# See
#  - `/etc/dovecot/conf.d/20-imap.conf`
#  - <https://doc.dovecot.org/settings/core/>

# See also
#  - `./services.conf`


# Only send the name (Dovecot).  Default.
imap_id_send = name *
