# Mail storage.

# See
#  - `/etc/dovecot/conf.d/10-mail.conf`
#  - <https://doc.dovecot.org/configuration_manual/mail_location/Maildir/>
#  - <https://doc.dovecot.org/settings/core/>


# `~` refers to the virtual user's home directory as queried from the database.
mail_location = maildir:~/mail

mail_uid = {{ mail_dovecot_storage_uid }}
mail_gid = {{ mail_dovecot_storage_gid }}


# Default.
mail_fsync = optimized

# Default.
maildir_copy_with_hardlinks = yes


# Indexing.

# Default.
mailbox_list_index = yes

# Default no.
mailbox_list_index_include_inbox = yes
