# Dovecot common SQL configuration.
#  - This file contains a password and must get restrictive read permissions.

# See
#  - `/etc/dovecot/dovecot-sql.conf.ext`
#  - <https://doc.dovecot.org/settings/plugin/sql-postgresl/>
#    - <https://www.postgresql.org/docs/9.0/libpq-connect.html>
#  - <https://doc.dovecot.org/configuration_manual/config_file/config_variables/#config-variables>

# See also
#  - `./sql-groupauth.conf.ext`

# Notes
#  * The input fields (username, domain / address) are all cast to lower case.
#    - (%L prefix)
#    - See also $auth_username_format, in `./auth.conf`.


driver=pgsql


# The quotes (<">) are to allow a `#` in the password.
#  - See <https://doc.dovecot.org/configuration_manual/authentication/sql/#postgresql>.
connect = "hostaddr={{ database_server_address }} \
  port={{ database_server_port }} \
  dbname={{ database_name }} \
  user={{ database_user }} \
  password={{ database_password }}"



# Password query (for regular (non-group) accounts).
#  - Group accounts do not have a password themselves.
#  - See
#    - <https://doc.dovecot.org/configuration_manual/authentication/sql/#password-database-lookups>
#    - <https://doc.dovecot.org/configuration_manual/authentication/password_databases_passdb/>
#  - Note that we explicitly require our domain not to be a static one.
#    - See also `/doc/mail/postfix/aliases/database.md`.
password_query = \
  SELECT usr.pw_hash AS password                                            \
  FROM       core_mailaddress addr                                          \
  INNER JOIN core_maildomain  d    ON addr.domain_id  = d.id                \
  INNER JOIN core_mailaccount acc  ON addr.account_id = acc.id              \
  INNER JOIN core_mailuser    usr  ON acc.user_id     = usr.id              \
  WHERE '%Ld' NOT IN ({{ "'" + mail_static_domains | join("', '") + "'" }}) \
  AND   addr.localpart = '%Ln'                                              \
  AND   d.name         = '%Ld'                                              \
  AND   addr.is_default                                                     \
  ;


# See 
#  - <https://doc.dovecot.org/configuration_manual/authentication/user_databases_userdb/>
# See also
#  - `/ansible/roles/mail/delete-old-userdata/templates/delete-old-userdata.bash.j2`
user_query = \
  SELECT '{{ mail_dovecot_storage_dynamic_accounts_dir }}/'                 \
      || acc.relative_path                                                  \
      AS home                                                               \
  FROM       core_mailaddress addr                                          \
  INNER JOIN core_maildomain  d    ON addr.domain_id  = d.id                \
  INNER JOIN core_mailaccount acc  ON addr.account_id = acc.id              \
  WHERE '%Ld' NOT IN ({{ "'" + mail_static_domains | join("', '") + "'" }}) \
  AND   addr.localpart = '%Ln'                                              \
  AND   d.name         = '%Ld'                                              \
  AND   addr.is_default                                                     \
  ;


# See
#  - <https://doc.dovecot.org/configuration_manual/authentication/sql/#user-iteration>
iterate_query = \
  SELECT addr.localpart AS username,                                         \
         d.name         AS domain                                            \
  FROM       core_mailaddress addr                                           \
  INNER JOIN core_maildomain  d    ON addr.domain_id  = d.id                 \
  WHERE d.name NOT IN ({{ "'" + mail_static_domains | join("', '") + "'" }}) \
  AND   addr.is_default                                                      \
  ;
