# Dovecot SQL configuration for authentication as the admin group account.
#  - This file contains a password and must get restrictive read permissions.

# See
#  - `./sql-groupauth.conf.ext` (same thing, but for dynamic group accounts)
#  - `./sql-common.conf.ext` (including references made there)
#  - <https://doc.dovecot.org/configuration_manual/authentication/master_users/>


driver=pgsql


connect = "hostaddr={{ database_server_address }} \
  port={{ database_server_port }} \
  dbname={{ database_name }} \
  user={{ database_user }} \
  password={{ database_password }}"


password_query = \
  SELECT usr.pw_hash AS password                                             \
  FROM       core_mailaddress       addr                                     \
  INNER JOIN core_maildomain        d    ON addr.domain_id  = d.id           \
  INNER JOIN core_mailaccount       acc  ON addr.account_id = acc.id         \
  INNER JOIN core_mailuser          usr  ON acc.user_id     = usr.id         \
  INNER JOIN core_mailadmin         adm  ON usr.id          = adm.user_id    \
  WHERE d.name NOT IN ({{ "'" + mail_static_domains | join("', '") + "'" }}) \
  AND   d.is_active                                                          \
  AND   addr.localpart = '%Ln'                                               \
  AND   d.name         = '%Ld'                                               \
  AND   addr.is_default                                                      \
  AND   '%L{login_user}' = '{{ mail_admin_address }}'                        \
  ;
