# TLS settings

# See
#  - <https://doc.dovecot.org/configuration_manual/dovecot_ssl_configuration/>
#  - `/etc/dovecot/conf.d/10-ssl.conf`
#  - <https://doc.dovecot.org/settings/core/>

# See also
#  - Postfix' TLS configuration.
#  - Nginx' TLS configuration.
#  - OpenSSH's crypto settings.

# Notes:
#  * Proper support (of configuration) for TLSv1.3 only by version 2.3.15.
#    - current debver: 1:2.3.13+dfsg1-2+deb11u1
#  * Compare the settings for SMTP submission in Postfix's `main.cf`.
#    - Like there, we want relatively restrictive settings.


# Note that connections from localhost may still use plain text.
#  - See also $login_trusted_networks.
ssl = required


# These files are loaded upon service start and reload, so a change of them
# needs a reload of Dovecot.
#  - See
#    - the Ansible handler,
#    - the ACME update script's reload_services().
ssl_cert = <{{ tls_acme_data_dir }}/rsa.chain.pem
ssl_key = <{{ tls_key_dir }}/rsa.key.pem


# We would like to have TLSv1.3 (only).
#  - Problem 1: Dovecot cannot (yet) be configured to require >= TLS1.3.
#  - Problem 2: Some clients that we want to support do not support TLS1.3.
#    - See Postfix's `main.cf#submission_tls_mandatory_protocols`.
#ssl_min_protocol = TLSv1.3
ssl_min_protocol = TLSv1.2


# TLSv1.3 ciphers.
#  - We would not restrict these, the TLS 1.3 ciphers are all deemed quite
#    good.
#    - See also Postfix's `main.cf#submission_tls_high_cipherlist`.
#ssl_cipher_suites =

# TLSv1.2 ciphers.
#  - Require PFS.
#    - Do not use non-EC Diffie-Hellman, as recommended by 
#      `wiki/SSL.DovecotConfiguration.txt'.
#    -> ECDHE
#  - Require authentication.
#    - We have an RSA key.
#    -> aRSA
#  - Only allow AE ciphers.
#    - Specifically, allow Chacha20/Poly1305 and AES-GCM.
#      - These are also those allowed in TLS 1.3.
#    -> CHACHA20, AESGCM
#  - Additionally require HIGH security, s.t. this configuration is
#    automatically restricted once something we use is no longer considered
#    of HIGH security.
#    -> HIGH
#  - Order by strength.
#    -> @STRENGTH
#  - See also Postfix's `main.cf#tls_high_cipherlist`.
ssl_cipher_list = HIGH+ECDHE+aRSA+CHACHA20:HIGH+ECDHE+aRSA+AESGCM:@STRENGTH

# Do not prefer the server's order of ciphers over client's.
#  - See Postfix's `main.cf#submission_tls_preempt_cipherlist`.
ssl_prefer_server_ciphers = no


# Elliptic curves to use for ECDH (key exchange).
#  - See Postfix's `main.cf#submission_tls_eecdh_auto_curves`.
#  - Also known as "Groups" in OpenSSL.
#  - Applies to both TLSv1.2 and TLSv1.3.
ssl_curve_list = X25519:X448:prime256v1:secp521r1:secp384r1

# DH parameters are not needed, we use ECDH.
#  - Note: TLSv1.3 exclusively supports ECDH.
#  - If we wanted non-EC DH, we could reuse the DH params from the tls/dhparams
#    role.
#  - See <https://doc.dovecot.org/configuration_manual/dovecot_ssl_configuration/#ssl-security-settings>.
ssl_dh =


# SSL options.
#  * Disable Compression:
#    - Compression can leak information, see, e.g., the CRIME vulnerability.
#    - Actually disabled by default in Dovecot (since version 2.3).
#      - See `/usr/share/doc/dovecot-core/wiki/Upgrading.2.3.txt.gz'.
#  * Disable session tickets:
#    - See <https://words.filippo.io/we-need-to-talk-about-session-tickets/>.
#      - Claims the problems are fixed in TLS 1.3.
#  - See also Postfix's `main.cf#tls_ssl_options`.
ssl_options = no_compression no_ticket
