server
{
	listen 80;
	server_name {{ tls_acme_domain_names | join(' ') }};

	# See `/usr/share/doc/acme-tiny/README.md.gz'.
	location /.well-known/acme-challenge/
	{
		alias {{ tls_acme_challenge_dir }}/;
		try_files $uri =404;
	}
}
