#!/usr/bin/env bash

# (Re-)Generate DH parameters.  E.g., to be used by Postfix.


source '{{ bash_aux_lib_basic_path }}' || {
  printf 'Fatal Error.\n' >&2
  exit 1
}



##################
## Configuration

typeset -r storage_dir='{{ tls_dhparams_data_dir }}'
typeset -ra sizes=( '{{ tls_dhparams_size }}' )
typeset -r filename_prefix='dh'
typeset -r filename_suffix='.pem'
typeset -r filename_suffix_tmp='.tmp.pem'



#########
## Code

# Notes
#  * See Postfix' FORWARD_SECRECY_README.
#  * Installation of each dhparam file is atomic--using mv(1).
#  * This script aborts on any error (with a non-empty error message).
#    - When run via cron, we get mail upon failure (assuming cron can send
#      mail).


umask 022
cd "$storage_dir"
for size in "${sizes[@]}"
do
  tmp="${filename_prefix}${size}${filename_suffix_tmp}"
  file="${filename_prefix}${size}${filename_suffix}"

  # Only print the output on failure.
  if ! ret_str="$(openssl dhparam -out "$tmp" "$size" 2>&1)"
  then
    # Print error and fail (`false').
    printf '%s\n' "$ret_str" 2>&1; false
  fi

  mv "$tmp" "$file"
  chmod 644 "$file"
done
