# Regular database aliases.
#  - This is almost the same as the sender to login map.
#    - See `./sender-to-login.pgsql.cf`
#  - See
#    - `/doc/mail/postfix/aliases/static.md`,
#    - `/doc/mail/postfix/aliases.md`.

hosts = {{ database_server_address }}:{{ database_server_port }}
user = {{ database_user }}
password = {{ database_password }}
dbname = {{ database_name }}

expansion_limit = 1

query =
  SELECT u.localpart || '@' || ud.name
  FROM       core_mailaddress a
  INNER JOIN core_mailaddress u  ON a.account_id = u.account_id
  INNER JOIN core_maildomain  ad ON a.domain_id  = ad.id
  INNER JOIN core_maildomain  ud ON u.domain_id  = ud.id
  WHERE ad.name NOT IN ({{ "'" + mail_static_domains | join("', '") + "'" }})
  AND   ud.name NOT IN ({{ "'" + mail_static_domains | join("', '") + "'" }})
  AND   a.localpart = '%u'
  AND   ad.name     = '%d'
  AND   NOT a.is_default
  AND   u.is_default
  ;
