# Identity map on the static (non-db) users.
#  - See also
#    `/ansible/roles/mail/dovecot/templates/dovecot/static-users.passwd.j2`.

# Admin address.
{{ mail_admin_address }} {{ mail_admin_address }}
