# Update DH parameters, daily.

PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
MAILTO=root

# m  h dom mon dow  user  command
  7  4   *   *   *  root  {{ tls_dhparams_script_path }}
