# Configuration for variable state files that would normally reside in "$HOME".
#  - See also `~/.vim/plugin/varhome.vim'.

export VARHOME='{{ varhome_root }}'

export LESSHISTFILE="${VARHOME}/.lesshst"
export HISTFILE="${VARHOME}/.bash_history"
