# Unbound configuration for Unbound 1.13.1 on Debian.
#
# Assembled from
#  * the Debian provided service (version 1.13.1-1),
#    - /usr/lib/systemd/system/unbound.service
#  * Unbound 1.13.1 & 1.13.2
#    - contrib/unbound.service.in'
#    * `configure' values manually replaced (e.g, @UNBOUND_SYSCONF_DIR@)
#    * The two versions differ only slightly w.r.t. this file.
#  * elsewhere (see comments).
#
# Works in tandem with
#  * a custom unbound.conf.
#  * a custom script to update the root trust anchor on start, if necessary.
#
# Configuration lines are marked depending on where they are from.
#  * `Unbound upstream', unless further specified, refers to version 1.13.1.
#  * If unmarked, a the labeled configuration is present in both the Debian
#    provided service and the upstream Unbound configuration (1.13.1).


[Unit]
# Unbound upstream:
#Description=Validating, recursive, and caching DNS resolver
# Debian:
Description=Unbound DNS server

Documentation=man:unbound(8)

# Unbound upstream:
After=network-online.target
# Debian:
#After=network.target

Before=nss-lookup.target

# Unbound upstream:
Wants=network-online.target nss-lookup.target
# Debian:
#Wants=nss-lookup.target


[Install]
WantedBy=multi-user.target


[Service]
Type=notify

# Unbound upstream:
NotifyAccess=main

# Debian:
Restart=on-failure

# Debian:
#EnvironmentFile=-/etc/default/unbound

# Debian
#  * Copy /etc/unbound into chroot; instead, bind-mount it
#  * Bind-mount /run/systemd/notify; instead, do that explicitly later on.
#ExecStartPre=-/usr/lib/unbound/package-helper chroot_setup

# Debian (Update trust anchor from `/usr/share/dns/root.key'):
#  * Would need a prefixing `+` to work.
#  * See also our custom script below.
#ExecStartPre=-/usr/lib/unbound/package-helper root_trust_anchor_update
# Custom:
ExecStartPre=+/etc/unbound/update-root-trust-anchor.bash

# Debian (don't daemonize, allow additional options from EnvironmentFile):
#ExecStart=/usr/sbin/unbound -d $DAEMON_OPTS
# Unbound upstream (don't daemonize, no pidfile):
ExecStart=/usr/sbin/unbound -d -p

# Debian:
#ExecStopPost=-/usr/lib/unbound/package-helper chroot_teardown

ExecReload=+/bin/kill -HUP $MAINPID


# Unbound upstream v1.13.2 (restrictions):
#  * This is the only section where v1.13.1 and v1.13.2 differ, which is only
#    slightly.
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETGID CAP_SETUID CAP_SYS_CHROOT CAP_SYS_RESOURCE CAP_NET_RAW
MemoryDenyWriteExecute=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=true
ProtectClock=true
ProtectControlGroups=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
RuntimeDirectory=unbound
ConfigurationDirectory=unbound
StateDirectory=unbound
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK AF_UNIX
RestrictRealtime=true
SystemCallArchitectures=native
SystemCallFilter=~@clock @cpu-emulation @debug @keyring @module mount @obsolete @resources
RestrictNamespaces=yes
LockPersonality=yes
RestrictSUIDSGID=yes
ReadWritePaths=/var/lib/unbound


# Chroot.

# Unbound upstream:
#  * No idea why there are read-only tmpfs's.
#  * Unsure whether the `-' prefixes are a good idea.
#  * Note: /dev/log should only be required when logging to syslog.
#  * `notify' socket required for `Type=notify'.
#  * See also unbound.conf(5).
TemporaryFileSystem=/var/lib/unbound/dev:ro
TemporaryFileSystem=/var/lib/unbound/run:ro
BindReadOnlyPaths=-/run/systemd/notify:/var/lib/unbound/run/systemd/notify
BindReadOnlyPaths=-/dev/urandom:/var/lib/unbound/dev/urandom
BindPaths=-/dev/log:/var/lib/unbound/dev/log

# Custom: Put configuration where it is expected to be.
BindReadOnlyPaths=/etc/unbound/:/var/lib/unbound/etc/unbound/

# Custom: Make root.hints from package `dns-root-data' accessible.
#  * Note: The root.key is copied over instead by that script configured above.
BindReadOnlyPaths=/usr/share/dns/root.hints:/var/lib/unbound/root.hints
