# Sieve Filtering

# See 
#  - [0] <https://doc.dovecot.org/configuration_manual/sieve/configuration/>
#  - [1] `/etc/dovecot/conf.d/90-sieve.conf`
#  - [2] <https://doc.dovecot.org/configuration_manual/sieve/>
#  - [3] <https://doc.dovecot.org/settings/pigeonhole/>


plugin {
  sieve = file:~/{{
    mail_dovecot_sieve_scripts_reldir
  }};active=~/{{
    mail_dovecot_sieve_active_script_relpath
  }}

  # Unused.
  #sieve_default = 
  #sieve_default_name =

  # CONSIDER:
  #sieve_global = /etc/dovecot/sieve/global
  #sieve_before*
  #sieve_after*

  # Notes:
  #  * Relevant to privacy.
  #  * See also `./logrotate.conf`.
  sieve_user_log = ~/{{ mail_dovecot_sieve_log_file_relpath }}


  # `redirect` command.
  # Notes:
  #  * See `/doc/mail/dovecot/sieve/redirect.md`.
  #  * Prior to Pigeonhole v0.3.0, a value of 0 would make the number of
  #    redirects unlimited (instead of disabling them).
{% if mail_dovecot_sieve_allow_redirect %}
  sieve_max_redirects = {{ mail_dovecot_sieve_max_redirects }}
{% else %}
  sieve_max_redirects = 0
{% endif %}
  sieve_redirect_envelope_from = {{
    mail_dovecot_sieve_redirect_envelope_from
  }}


  # Notes:
  #  * This is actually specific to the `subaddress` extension.
  #    * It is given here because:
  #      - (a) In the documentation, it is listed among the general settings
  #        for the sieve plugin.  [0]
  #      - (b) It has a generic name.
  #      - (c) (a) and (b) indicate that the setting might be used for more
  #        than the `subaddress` extension in the future.
  #  * See also the same setting in `mail/dovecot`'s `lmtp.conf`.
  recipient_delimiter = {{ mail_recipient_delimiter }}


  sieve_extensions = {{
    mail_dovecot_sieve_extensions | map(attribute='name') | join(' ')
  }}

{% for ext in mail_dovecot_sieve_extensions %}
{% for setting in ( ext.settings | default([]) ) %}
{% if setting.value is defined %}
  {{ setting.key }} = {{ setting.value }}
{% endif %}
{% endfor %}
{% endfor %}
}
