table inet filter {
	chain out_outbound {
		# See `/doc/misc/nftables.md` on the use of `oifname`.
		oifname {{ network.private_db.interface_name }} \
			ip daddr {{ network.private_db.ipv4.db.address }} \
			tcp dport {{ network.private_db.ipv4.db.port }} \
			accept
	}
}
