# Set of all database users.

hosts = {{ database_server_address }}:{{ database_server_port }}
user = {{ database_user }}
password = {{ database_password }}
dbname = {{ database_name }}

expansion_limit = 1

query =
  SELECT 1
  FROM       core_mailaddress addr
  INNER JOIN core_maildomain  d    ON addr.domain_id = d.id
  WHERE d.name NOT IN ({{ "'" + mail_static_domains | join("', '") + "'" }})
  AND   d.is_active
  AND   addr.localpart = '%u'
  AND   d.name         = '%d'
  AND   addr.is_default
  ;
