#!/usr/sbin/nft -f

# Main firewall configuration.
#  - Customization should be done via files in
#    `{{ nftables_custom_conf_dir }}/`.

flush ruleset

include "/etc/nftables/definitions/ports.nft"
include "/etc/nftables/definitions/portsets.nft"

include "/etc/nftables/input/base.nft"
include "/etc/nftables/input/allowlist.part.nft"
include "/etc/nftables/forward/none.nft"
include "/etc/nftables/output/base.nft"
include "/etc/nftables/output/allowlist.part.nft"

table inet filter {
	set out_ports_allow {
		type inet_proto . inet_service
		elements = { $out_ports_allow_basic }
	}

	set in_ports_allow {
		type inet_proto . inet_service
		elements = { tcp . $port_tcp_ssh }
	}
}

# Files are included in alphabetical order.
include "{{ nftables_custom_conf_dir }}/*"
