deb https://deb.debian.org/debian {{ debian_release_codename }} main
deb https://security.debian.org {{ debian_release_codename }}-security main
deb https://deb.debian.org/debian {{ debian_release_codename }}-updates main
