<?php

$config['login_page_extra_links'] = array
  ( array
    ( 'label' => 'Legal notice'
    , 'url' => '{{ product_url_legal_notice }}'
    )
  , array
    ( 'label' => 'Privacy notice'
    , 'url' => '{{ product_url_privacy_notice }}'
    )
  , array
    ( 'label' => 'Code'
    , 'url' => '{{ product_url_code_mail }}'
    )
  );
