<?php

$config['login_page_extra_links'] = array
  ( array
    ( 'label' => 'Imprint'
    , 'url' => '{{ product_url_imprint }}'
    )
  , array
    ( 'label' => 'Privacy policy'
    , 'url' => '{{ product_url_privacy_policy }}'
    )
  , array
    ( 'label' => 'Code'
    , 'url' => '{{ product_url_code_mail }}'
    )
  );
