<?php

$config['login_page_extra_links'] =
  [ [ 'label' => 'Legal notice'
    , 'url' => '{{ product_url_legal_notice }}'
    ]
  , [ 'label' => 'Privacy notice'
    , 'url' => '{{ product_url_privacy_notice }}'
    ]
  , [ 'label' => 'Code'
    , 'url' => '{{ product_url_code_mail }}'
    ]
  ];
